<div class="navbar-content">
  <img src="../../assets/logo.png" routerLink="/home">
  <mat-divider></mat-divider>
  <div *ngIf="!globalState.isConnected()" class="navbar-subsection">
    <h2>Nouveau ici ?</h2>
    <ul>
      <li routerLink="/connect"><mat-icon>account_circle</mat-icon> <span>Connexion</span></li>
    </ul>
  </div>
  <div *ngIf="globalState.isConnected()" class="navbar-subsection">
    <h2>Bienvenue, <span>{{ globalState.getUsername() }}</span></h2>
    <ul>
      <li><mat-icon>add</mat-icon> <span>Créer une playlist</span></li>
      <li><mat-icon>refresh</mat-icon> <span>Actualiser mes playlists</span></li>
      <li (click)="globalState.disconnect()"><mat-icon>logout</mat-icon> <span>Déconnexion</span></li>
    </ul>
  </div>
  <mat-divider></mat-divider>
  <div class="navbar-subsection">
    <h2>Recherche</h2>
    <ul>
      <li routerLink="/artist"><mat-icon>person</mat-icon> <span>Par artiste</span></li>
      <li routerLink="/album"><mat-icon>album</mat-icon> <span>Par album</span></li>
    </ul>
  </div>
  <mat-divider *ngIf="globalState.isConnected()"></mat-divider>
  <div *ngIf="globalState.isConnected()" class="navbar-subsection">
    <h2>Mes playlists</h2>
    <ul>
    </ul>
  </div>
</div>
